.container {
  background-color: bisque;
  min-height: 90vh;
  border: 5px solid black;
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
}
.box {
  height: 100px;
  width: 100px;
  border: 2px solid brown;
  margin: 2px;
  padding: 2px;
  color: white;
  font-size: 25px;
}

#box1 {
  background-color: aqua;
  color: black;
}
#box2 {
  background-color: blue;
}
#box3 {
  background-color: orange;
}
#box4 {
  background-color: brown;
}
