/** ------------------------------------- -->
/**  FONT PROPERTIES IN CSS  
/** ---------------------------------------- -->

/*? Font Family:- The `font-family` property allows you to specify the font used for text. */

/*? Font Size:- The `font-size` property controls the size of text. */
/* - You can use various units like pixels (`px`), ems (`em`), percentages (%), or keywords (e.g., `small`, `medium`, `large`) to set the size. */

/*? Font Weight:- The `font-weight` property defines the thickness of text characters, ranging from `100` (thin) to `900` (bold). */

/*? Font Style:- The `font-style` property allows you to apply styles like italic to text. */
/* - Common values include `normal` (default), `italic`, and `oblique`. */

/*? Font Variant:- The `font-variant` property is used to control the appearance of text characters by modifying their variant forms. */
/* value: normal, small-caps */

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@0;1&family=Finlandica+Headline:ital,wght@0,500;1,500&family=Urbanist:ital,wght@0,500;1,500&display=swap');


body {
    place-items: center;
}

.hero-section {
    background-color: #f9f9f9;
    border: 2px solid black;
    border-radius: 20px;
    width: 50%;
    padding: 15px 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: "Urbanist", sans-serif;
    font-size: 54px;
    text-align: center;
    font-style: oblique;
    font-variant: small-caps;
    text-shadow: 2px 2px 5px grey;
}

p {
    font-family: "Arimo", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
}

a {
    font-family: "Finlandica Headline", sans-serif;
    font-size: 18px;
    text-decoration: none;
    background-color: #2F2FE4;
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
}

a:hover{
    background-color: #162E93;
}