@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto+Slab:wght@100..900&display=swap");

* {
  font-family: "Google Sans", sans-serif;
  font-size: 20px;
}

#main-title {
  color: darkblue;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.nav-links a {
  color: forestgreen;
  text-decoration: none;
  font-weight: 800;
  padding: 18px;
}

.intro-paragraph {
  font-style: italic;
  line-height: 1.5;
}

.content-paragraph {
  text-transform: uppercase;
}

.color-box p {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

span {
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

footer p {
  font-family: "Roboto Slab", serif;
}
