@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Urbanist", sans-serif;
    background-color: #080a0c;
    color: azure;
    height: 100vh;
}

.container {
    height: 100vh;
    max-width: 1320px;
    padding: 64px 0;
    margin: 0 auto;
    display: grid;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
    gap: 64px;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.hero-content h1 {
    font-size: 48px;
    text-align: left;
    position: relative;
    display: inline-block;
    position: relative;
}

.hero-content h1::before {
    content: "SABEER ALAM";
    position: absolute;
    top: -50px;
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(255, 204, 112);
}


.hero-content h1::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 5px;
    border: 2px solid #ae445a;
    width: 78%;
}

.hero-content p {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 20px 0 40px 0;
}

.hero-content p::first-letter {
    font-size: 48px;
    color: #ae445a;
    font-weight: bold;
}

.hero-content p::first-line {
    text-decoration: underline;
}

.hero-content p::selection {
    background-color: rgba(255, 204, 112);
}

img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

a {
    background-color: transparent;
    display: inline-block;
    padding: 12px 32px;
    text-decoration: none;
    border-radius: 05px;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #fff;
    color: #fff;
    width: 200px;
    text-align: center;

}

a:hover {
    background-color: #fff;
    color: #080a0c;
    transition: 0.3s ease-in-out;
}